<!DOCTYPE html>
<htmlt>
<head>
    <title>Albion Trading</title>
</head>
<body>
    <div class="tableHeadRow">
        <ul>
            <li>Name</li>
            <li>Type</li>
            <li>Tier</li>
            <li>City</li>
            <li>Price</li>
            <li>Last </li>
            <li>Last-Modified</li>
        </ul>
    </div>
    <div class="InformationTable">
    </div>
    <script>

    </script>
</body>
</html>