<!DOCTYPE html>
<htmlt>
<head>
    <title>Albion Trading</title>
</head>
<body>
    <style>
        html { 
            background: url(images/back2.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .table{
            background-color: black;
            color: white;
            margin-left: 25%;
            margin-top: 10%;
            overflow: hidden;
            width: 40%;
            border: 5px solid #1C6EA4;
            border-radius: 40px;
        }
        .ulMain{
            font-style: oblique;
        }
        .liMain{
            float: left;
            width:14%;
            display: block;
            text-align: center;
            text-decoration: none;
        }
        .liWrite{
            float: left;
            width:7%;
            display: block;
            text-align: center;
            text-decoration: none;
            color: white;
        }
        .tableHeadRow{
            overflow: hidden;
            border-bottom: 5px solid #1C6EA4;
        }
        .ulAll{
            border-bottom: 5px solid #1C6EA4;
            overflow: hidden;
        }
        .liAll{
            float: left;
            width:14%;
            display: block;
            text-align: center;
            text-decoration: none;
        }

    </style>
    
    <div class="table">
        <div class="tableHeadRow">
            <ul class="ulMain">
                <li class="liMain">Name</li>
                <li class="liMain">Type</li>
                <li class="liMain">Tier</li>
                <li class="liMain">City</li>
                <li class="liMain">Price <span style="font-size:15px">&#x2193;</span></li>
                <li class="liMain">Date</li>
            </ul>
        </div>

        <div class="InformationTable"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".InformationTable").html(function(){
                return '<div class="tableRow">'+
                    '<ul class="ulAll">'+
                        '<li class="liAll">'+'name'+'</li>'+
                        '<li class="liAll">'+'type'+'</li>'+
                        '<li class="liAll">'+'tier'+'</li>'+
                        '<li class="liAll">'+'city'+'</li>'+
                        '<li class="liAll">'+'price '+'<span style="font-size:15px">&#x2193;</span></li>'+
                        '<li class="liAll">'+'date'+'</li>'+
                        '<li class="liWrite"><span style="font-size:27px">&#x270e;</span></li>'+
                        '<li class="liWrite"> <span style="font-size:20px"> &#128465;</span></li>'+
                    '</ul></div>'+
                    '<div class="tableRow">'+
                    '<ul class="ulAll">'+
                        '<li class="liAll">'+'name'+'</li>'+
                        '<li class="liAll">'+'type'+'</li>'+
                        '<li class="liAll">'+'tier'+'</li>'+
                        '<li class="liAll">'+'city'+'</li>'+
                        '<li class="liAll">'+'price '+'<span style="font-size:15px">&#x2193;</span></li>'+
                        '<li class="liAll">'+'date'+'</li>'+
                        '<li class="liWrite"><span style="font-size:27px">&#x270e;</span></li>'+
                        '<li class="liWrite"> <span style="font-size:20px"> &#128465;</span></li>'+
                    '</ul></div>'
            });
        });
    </script>
</body>
</html>