<!DOCTYPE html>
<htmlt>
<head>
    <title>Albion Trading</title>
</head>
<body>
    <style>
        html { 
            background: url(images/back2.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .table{
            background-color: white;
            margin-left: 30%;
            width: 35%;
            margin-top: 10%;
            overflow: hidden;
        }
        .ulMain{
            list-style-type: none;
        }
        li{
            float: left;
            display: block;
            padding-left: 7%;
            border:2px solid red;
        }
    </style>
    
    <div class="table">
        <div class="tableHeadRow">
            <ul class="ulMain">
                <li>Name</li>
                <li>Type</li>
                <li>Tier</li>
                <li>City</li>
                <li>Price</li>
                <li>Last-Modified</li>
            </ul>
        </div>
        <div class="InformationTable"></div>
    </div>

    <script>

    </script>
</body>
</html>